<h1>Questions of test</h1>

<%= form_with model: [@test, @questions] do |form| %>


  <p>
    <%= form.label :body %>
    <%= form.text_field :body %>
  </p><br>

  <p><%= form.submit %></p>

<% end %>
