<h1>Create new question</h1>

<form action="/tests/1/questions" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <p>
    <label for="test-questions">Text:</label>
    <input type="text" name="question[body]" id="test-questions">
  </p><br>

  <p>
    <input type="submit" value="Create">
  </p>
</form>

