<div class="nav nav-admin">
  <span class="nav-admin title">TestGuru Admin Panel</span>

  <div class="nav-admin user">
    Welcome, <b class="nav-admin user-email"><%= current_user.email %></b> Guru |
    <%= link_to 'logout', destroy_user_session_path, method: :delete %>
  </div>
</div>
