<tr>
  <td><%= link_to gist.question.body.truncate(25), admin_question_path(gist.question) %></td>
  <td><%= gist_url gist.url, gist.url, target: "_blank" %></td>
  <td><%= gist.user.email %></td>
</tr>
