<div class="container">

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col"><%= t('.question') %></th>
      <th scope="col"><%= t('.url') %></th>
      <th scope="col"><%= t('.user') %></th>
    </tr>
    <%= render @gists %>
    </thead>

  </table>

</div>

