<footer class="conteiner-fluid">
  <div class="conteiner">
    <div class="row-padding text-center">
      <div class="col-12">

        <p><%= github_url('GitHubLoad', 'TestGuru') %> -  проект Дмитрия Леденёва. <%= current_year %></p>

        <p><%= link_to "Учебный проект в онлайн-школе Thinknetica", "http://thinknetica.com/", target: "_blank", rel: "nofollow" %></p>

      </div>
    </div>
  </div>
</footer>
