<h2><%= link_to 'TestGuru', tests_path %></h2><br>

<h2><%= link_to 'Registration', signup_path %></h2><br>

<h2><%= link_to 'Login', tests_path %></h2><br>

<h2><%= link_to 'Exit', tests_path %></h2><br>
