<li>
  <%= answer.body %><br>
  <%= link_to 'Show', admin_answer_path(answer) %>
  <%= link_to 'Edit', edit_admin_answer_path(answer) %>
  <%= link_to 'Delete',
              admin_answer_path(answer),
              method: :delete,
              data: { confirm: 'Are you sure?'}%>

</li>
