<h1>Tests</h1>

<%= link_to 'New test', new_test_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Questions</th>
    <th colspan="4">Actions</th>
  </tr>

<%= render @tests %>

</table>

